/*=================================================================================*/
/*=================================================================================*/
/*==========================||---------------------------||========================*/
/*==========================|| DESIGNED BY  HOSSAM HILAL ||========================*/
/*==========================||---------------------------||========================*/
/*====================================||------||===================================*/
/*====================================|| 2020 ||===================================*/
/*====================================||------||===================================*/
/*=================================================================================*/
/*=================================================================================*/

body {
    direction: rtl;
    text-align: right;
}


/*==========================||---------------------------||========================*/
/*==========================||          Home Page        ||========================*/
/*==========================||---------------------------||========================*/

.header-top .info p:first-of-type {
    margin: 0 0 0 40px;
}

.header-top .info img {
    margin: 0 0 0 5px;
}

.owl-carousel {
    direction: initial;
}

.owl-services .readmore-swip {
    flex-direction: row-reverse;
}

.readmore-swip::before {
    left: auto;
    right: 0;
}

.readmore-swip i {
    margin: 0 0 0 -1px;
}

.readmore-swip i::before {
    content: "\ea9d";
}

.btn-blue::before {
    left: auto;
    right: 0;
}

.prize-box-content {
    margin: 0 0 0 -5%;
}

.prize-box-content:after {
    right: auto;
    left: -23px;
    border-left: 0;
    border-right: 25px solid var(--mainColor);
}

.subscribeForm button {
    border-radius: 25px 0 0 25px;
    margin-right: auto;
}

.footer-block {
    text-align: inherit;
}

.footer-block .icon {
    margin: 0 0 0 15px;
}

@media screen and (max-width: 767px) {
    .menu-btn {
        right: auto;
        left: 10px;
    }
}

@media screen and (max-width: 425px) {
    .language {
        left: 15px;
        right: auto;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||          About Page       ||========================*/
/*==========================||---------------------------||========================*/

.about-article-content {
    padding: 0 0 0 55px;
}

.about-article-icon {
    left: auto;
    right: -50px;
}

.about-article-border {
    left: auto;
    right: 0;
    border-width: 2px 2px 2px 0;
    border-radius: 0 0 60px 0;
}

.about-article-border::before,
.about-article-border::after {
    left: auto;
    right: 100%;
}

.about-article-image {
    border-radius: 60px 0;
}

.about-article:nth-child(even) .about-article-content {
    padding: 0 55px 0 0;
}

.about-article:nth-child(even) .about-article-icon {
    right: auto;
    left: -50px;
}

.about-article:nth-child(even) .about-article-image {
    border-radius: 0 60px;
}

.about-article:nth-child(even) .about-article-border {
    border-width: 2px 0 2px 2px;
    border-radius: 0 0 0 60px;
}

.about-article:nth-child(even) .about-article-border::before,
.about-article:nth-child(even) .about-article-border::after {
    left: 100%;
    right: auto;
}

@media screen and (max-width: 768px) {
    .about-article-icon {
        left: auto;
        right: 0;
    }

    .about-article:nth-child(even) .about-article-icon {
        left: 0;
    }
}


/*==========================||---------------------------||========================*/
/*==========================||        Clients Page       ||========================*/
/*==========================||---------------------------||========================*/

.clients-page .client::before {
    left: auto;
    right: 10px;
}

/*==========================||---------------------------||========================*/
/*==========================||        Service Page       ||========================*/
/*==========================||---------------------------||========================*/

.service-section-info {
    border-radius: 244px 0 0 244px;
    padding: 50px 100px 40px 80px;
    margin: 0 0 0 -20%;
}

.service-section-vector {
    border-radius: 0 335px 335px 0;
}

/*==========================||---------------------------||========================*/
/*==========================||           News Page       ||========================*/
/*==========================||---------------------------||========================*/

.event-info::before {
    right: 0;
    left: auto;
}

.l-title {
    border: var(--borderBlue);
    border-width: 0 4px 0 0;
    padding: 0 20px 0 0;
}

/*==========================||---------------------------||========================*/
/*==========================||        Partner Page       ||========================*/
/*==========================||---------------------------||========================*/

.partner-product-data {
    padding: 0 15px 0 0;
}


/*==========================||---------------------------||========================*/
/*==========================||        Product Page       ||========================*/
/*==========================||---------------------------||========================*/

.product-page-vector {
    border-radius: 0 43px;
}

.product-page-data li::before {
    margin: 0 0 0 8px;
}

.product-page-details-box ul {
    padding: 0 18px 0 0;
}

.order-form .form {border-radius: 33px 0 33px 33px;}

.field label {
    left: auto;
    right: 15px;
}

/*==========================||---------------------------||========================*/
/*==========================||        Project Page       ||========================*/
/*==========================||---------------------------||========================*/

.download {
    flex-direction: row-reverse;
}

/*==========================||---------------------------||========================*/
/*==========================||        Request Page       ||========================*/
/*==========================||---------------------------||========================*/

.custom-select-box::after {
    right: auto;
    left: 15px;
}